<h1>Usuários</h1>

<table *ngIf="responseUsers">
    <thead>
        <td>Nome</td>
        <td>Sobrenome</td>
        <td>...</td>
        <!-- <td>Email</td>
        <td>Avatar</td> -->
    </thead>
    <tbody>
        <tr *ngFor="let user of responseUsers.data">
            <td>{{user.first_name}}</td>
            <td>{{user.last_name}}</td>
            <td>
                <a routerLink="/users/update/{{user.id}}">EDITAR</a> |
                <!-- <mat-icon class="md-18" color="primary">mode_edit</mat-icon>  -->
                <a routerLink="/users/delete/{{user.id}}">REMOVER</a>
                <!-- <mat-icon class="md-18" color="warn">delete</mat-icon> -->                
            </td>
            <!-- <td>{{user.email}}</td>
            <td>{{user.avatar}}</td> -->
        </tr>
    </tbody>
</table>